################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SCPSAP.slnx/FileContentIndex/d6edb53c-aa96-493d-83bb-3552b64ad57a.vsidx
/.vs/SCPSAP.slnx/FileContentIndex/a939ff37-8b2e-4ab3-937c-6ad89c88f5c2.vsidx
/.vs
/.vs/SCPSAP.slnx/DesignTimeBuild/.dtbcache.v2
/SCPSAP/obj/Debug/net10.0-windows/SCPSAP-Presentacion.AssemblyInfo.cs
/SCPSAP/obj/Debug/net10.0-windows/SCPSAP-Presentacion.AssemblyInfoInputs.cache
/SCPSAP/obj/Debug/net10.0-windows/SCPSAP-Presentacion.assets.cache
/SCPSAP/obj/Debug/net10.0-windows/SCPSAP-Presentacion.GeneratedMSBuildEditorConfig.editorconfig
/SCPSAP/obj/Debug/net10.0-windows/SCPSAP-Presentacion.csproj.AssemblyReference.cache
/SCPSAP/obj/project.assets.json
/SCPSAP/obj/project.nuget.cache
/SCPSAP/obj/SCPSAP.csproj.nuget.dgspec.json
/SCPSAP/obj/SCPSAP.csproj.nuget.g.props
/SCPSAP-Datos/obj/Debug/net10.0/SCPSAP-Datos.AssemblyInfo.cs
/SCPSAP-Datos/obj/Debug/net10.0/SCPSAP-Datos.AssemblyInfoInputs.cache
/SCPSAP-Datos/obj/Debug/net10.0/SCPSAP-Datos.GeneratedMSBuildEditorConfig.editorconfig
/SCPSAP-Datos/obj/Debug/net10.0/SCPSAP-Datos.assets.cache
/SCPSAP-Datos/obj/project.assets.json
/SCPSAP-Datos/obj/project.nuget.cache
/SCPSAP-Datos/obj/SCPSAP-Datos.csproj.nuget.dgspec.json
/SCPSAP-Datos/obj/SCPSAP-Datos.csproj.nuget.g.props
/SCPSAP-Negocio/obj/Debug/net10.0/SCPSAP-Negocio.AssemblyInfo.cs
/SCPSAP-Negocio/obj/Debug/net10.0/SCPSAP-Negocio.AssemblyInfoInputs.cache
/SCPSAP-Negocio/obj/Debug/net10.0/SCPSAP-Negocio.assets.cache
/SCPSAP-Negocio/obj/Debug/net10.0/SCPSAP-Negocio.csproj.AssemblyReference.cache
/SCPSAP-Negocio/obj/Debug/net10.0/SCPSAP-Negocio.GeneratedMSBuildEditorConfig.editorconfig
/SCPSAP-Negocio/obj/project.assets.json
/SCPSAP-Negocio/obj/project.nuget.cache
/SCPSAP-Negocio/obj/SCPSAP-Negocio.csproj.nuget.dgspec.json
/SCPSAP-Negocio/obj/SCPSAP-Negocio.csproj.nuget.g.props
