################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SCPSAP.slnx/FileContentIndex/d6edb53c-aa96-493d-83bb-3552b64ad57a.vsidx
/.vs/SCPSAP.slnx/FileContentIndex/a939ff37-8b2e-4ab3-937c-6ad89c88f5c2.vsidx
/.vs
